body {
	background-color: #ffeee2;
}

#logo-season {
	position: absolute;
	top: 500px;
	left: 1200px;
	z-index: 11;	
}
.logo-season {
	width: 500px;
	background-color: #ffffff;	
}
.modernfolklore {
	width: 1500px;
	font-size: 200px;
	margin: 0 ;
	transform: translate(-10%, 0%);	
	line-height: 190px;
}
#dan1 {
	display: flex;
	height: 500px;
	width: 50%;	
}
.logo-by {
	width: 150px;
	height: 150px;
	margin-left: 50px;
}
#left-1 {
	width: 100%;
}
.mv-small {
	width: 700px;
	margin-left: 50px;
}
.h1-1 {
	font-size: 45px;
	margin-left: 50px;
}
.p-1 {
	font-size: 35px;
	margin-left: 50px;
	width: 100%;
}
.mv-large {
	position: absolute;
	right: 0px;
	width: 50%;
	z-index: 10;
}
