/* header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 980px;
}
.header-main-ul {
	display: flex;
	list-style: none;
}
.header-main-span {
	margin-left: 30px;
	margin-right: 30px;
}
.sub-ul {
	display: none;
	list-style: none;
}
/* mainビジュアル */
.main-visual {
	display: flex;
	justify-content: center;
}
.puress-ir {
	display: flex;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}
.press {
	width: 50%;
	height: 200px;
	background-color: aqua;
	text-align: center;
	justify-content: center;
	margin-right: 10px;
}
.press-main {
	width: 80%;
	height: 160px;
	background-color: antiquewhite;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
}
.ir {
	width: 50%;
	height: 200px;
	background-color: aqua;
	text-align: center;
	margin-left: 10px;
}
.ir-main {
	width: 80%;
	height: 160px;
	background-color: antiquewhite;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
}
.company-p2 {
	width: 100%;
	text-align: center;
}
.company-information {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
.kigyoujyouhou-big {
	width: 50%;
	position: relative;
}
.business-message {
	width: 100%;
}
.kigyoujyouhou-message {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: right;
	width: 100%;
	background: rgba(255, 255, 255, 0.6);
}
.kigyoujyouhou-small{
	width: 33%;
	position: relative;
}
.mainir-div1 {
	display: flex;
	flex-wrap: wrap;
	width: 980px;
	margin: auto;
}
.mainir-p2 {
	text-align: center;
	width: 100%;
}
.main-irdiv {
	width: 20%;
}
.main-irimg {
	width: 100%;
	align-items: center;
}
.sustain-a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin: auto;
	color: black;
	border-top: solid;
	border-bottom: solid;
}
.otoiawase-div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
}
.otoiawase-p2 {
	width: 100%;
	text-align: center;
}
.otoiawase-ul{
	width: 100%;
	list-style: none;
	text-align: center;
}
.footer-div {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	margin: 0 auto;
}
.footer-main {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	list-style: none;
}
.footer-sub {
	width: 100%;
	text-align: center;
}
.footer-copyrihgt{
	width: 100%;
	text-align: center;
	font-size: 12px;
}


