/* PC,スマホ共通スタイル */
body {
	font-family: "Source Sans Pro","Hiragino Kaku Gothic ProN",Meiryo,Arial,Sans-serif;
}
/* bodyに  "Source Sans Pro","Hiragino Kaku Gothic ProN",Meiryo,Arial,Sans-serifのフォントを適用*/
p {
	font-size: 15px;
}
/* fontの大きさ15px */

/*================
 PC用のスタイル 
=================*/
@media screen and (min-width: 768px) {
/* 横幅設定 */
body {
	max-width: 1080px;
	/* 最大横幅1080px */
    min-width: 960px;
	/*  最小横幅960px*/
	/* 上記最大、最小幅は標準的数値 */

    margin: 0 auto 0 auto;
	/* マージン 上0 右auto 下0 左auto　左右をautoで中央寄せ */
}
  
/* ヘッダー */
header {
    display: flex;
	/* コンテナの親要素に設定 */
    justify-content: space-between;
	/* 各アイテムを均等に配置し最初のアイテムは先頭に寄せ、
	　 最後のアイテムは末尾に寄せる */
}

  

  /* ナビゲーションのレイアウト */
  #nav-pc {
    text-align: right;
	/* テキスト右揃え */
    font-size: 14px;
	/* フォントサイズ14px */
    padding-top: 15px;
	/* padding上だけ15px */
  }
  
  /* ナビゲーションのリンクの装飾設定 */
  #nav-pc > a {
    text-decoration: none;
	/* テキストの装飾なし */
    margin-left: 20px;
   /* aタグのmargin 左側20px */
  }
  #nav-pc > a:link {
    color: #0d0d0d;
	/* aタグの色#0d0d0d */
  }
  #nav-pc > a:visited {
    color: #0d0d0d;
	/* aタグ押したら黒色 */
  }
  #nav-pc > a:hover {
    color: #0d0d0d;
	/* aタグカーソルが上にあれば黒色 */
    text-decoration: underline;
	/* aタグカーソルが上にあればアンダーライン */
  }
  #nav-pc > a:active {
    color: #0d0d0d;
	/* aタグを押してる際黒色 */
  }
   /* メインビジュアル*/
   #main-visual {
    position: relative;
	/* sectionを親要素に設定 */
    height: 400px;
	/* sectionを高さ400pxに設定 */
  }
  /* メインメッセージ */
  #main-message {
    position: absolute;
    top: 0;
    left: 0;
	/* main-visual(section)の上0,左0のところに配置 */
    background-color: #2710d5;
	/* 背景色#2710d5 */
    color: #ffffff;
	/* 文字色#ffffff */
    border-radius: 0 0 476px 0;
	/* main-message(div)右下を円形 */
    max-width: 620px;
	/* 最大幅620px */
    height: 100%;
	/* 高さsectionの100％ */
    width: 100%;
	/* 幅sectionの100％ */
    z-index: 11;
	/* 画像重ねの下から11番目 */
  }
  #main-message > h1 {
	font-size: 60px;
	/* メインメッセージのフォントサイズ60px */
	font-weight: bold;
	/* 文字の太さ　太文字 */
	margin:100px 0 0 50px ;
	/* margin 上100px 右0 下0 左50px */
  } 
  #main-message > p {
	font-size: 28px;
	/* p要素のフォントサイズ28px */
	margin: 0 0 0 50px;
	/* margin 上0 右0 下0 左50px */
  }
  #main-visual > img {
    max-width: 620px;
	/* 幅最大620px */
    border-radius: 476px 0 0 0;
	/* 左上円形 */
    position: absolute;
    top: 0;
    right: 0;
	/* main-visual(section)の上0、右0に配置 */
    z-index: 10;
	/* 画像重ね下から10番目 */
  }
 
  /* 見出し */
  h2 {
    margin: 40px 0 0 0;
	/* h2の上側に余白40px */
  }
  
  h2::after {
    content: url("images/line.png");
	/* h2の後ろに画像 */
    margin-left: 10px;
	/* h2の右に余白10px */
  }
    h3 {
    font-size: 27px;
	/* h3のフォントサイズ27px */
  }
  /* ミッション */
  #mission {
    margin: 80px auto 80px auto;
	/* mission(section)の上下余白80px 左右autoで中央配置 */
    width: 100%;
	/* 幅はbodyの100% */
  }
  
  #mission-flex {
    width: 100%;
	/* 幅はsectionの100% */
    display: flex;
	/* mission-flex(div)を親コンテナに設定。
	　初期値rowによりcontent左から並ぶ */
  }
  #mission-flex > div {
    width: 50%;
    margin: 20px;
	/* 2このdivの(親要素=mission<section>)
	幅親要素の50% :余白各20px */
  }
  
  #mission-photo {
    width: 100%;
	/* 幅mission-flex(div)の100% */
  }
  
  #s2dgs {
    margin-top: 50px;
	/* 上余白50px */
    width: 100%;
	/* 幅mission-flex(div)の100% */
  }
  /* プロダクト */
  #product {
    background-color: #fafafa;
	/* 背景色#fafafa */
    margin: 80px 0 80px 0;
	/* 外余白　上下80px 左右0px */
    padding: 10px 40px 0px 40px;
	/* 内余白　上10px 右40px 下0px 左40px */

  }
  
  /* 外枠 */
  #product > div {
    margin-top: 40px;
	/* 外余白　上40px */
    display: flex;
	/* 親コンテナに設定 */
  }
  
  /* 左のカラム */
  #product-left {
    width: 50%;
	/* 幅　親divの50% */
    margin-right: 20px;
	/* 外余白右　20px */
  }
  
  /* 右のカラム */
  #product-right {
    width: 50%;
	/* 幅親divの50% */
    margin-left: 20px;
	/* 外左余白　20px */
	margin-top: 80px;
	/* 外余白上 80px */
  }
  
  /* 画像＋説明の枠 */
  #product-left > div {
    position: relative;
	/* product-left内divを位置決めの親に設定 */
    height: 480px;
	/* 高さ480px */
    margin-right: 20px;
	/* 余白右　20px */
	
  }
  #product-right > div {
    position: relative;
	/* product-right内divを位置決めの親に設定 */
    height: 480px;
	/* 高さ480px */
    margin-left: 20px;
	/* 余白左　20px */
  }
    /* 画像 */
	.product-photo {
		width: 100%;
	/* 幅を親divの100% */
	  }
  /* 説明文の枠 */
  .product-explain {
    background-color: #ffffff;
	/* 背景色#ffffff */
    position: absolute;
    left: 0;
    top: 280px;
	/* 位置親divの上から280px 左0px */
    margin: 0 40px 0 40px;
	/* 外余白 上0 右40px 下0 左40px */
    padding: 20px;
	/* 内余白 20px */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
	/* 影　左右5px 上下5px　ぼかし10px 色と透明度  */
  }
  
  /* 説明文の英語 */
  .product-explain > span {
    color: #2710d5;
	/* 文字の色 */
    font-weight: bold;
	/* 文字の太さ */
    font-size: 16px;
	/* 文字の大きさ */
    margin: 0;
	/* 外余白 */
  }
  
  /* 説明文の見出し */
  .product-explain > h3 {
    font-size: 20px;
	/* 文字の大きさ */
    margin: 5px 0 5px 0;
	/* 外余白 上5px 右0px 下5px 左0px */
  }
  
  /* 説明文 */
  .product-explain > p {
    font-size: 14px;
	/* 文字大きさ */
    margin: 0;
	/* 外余白 */
  }
  
  /* 「もっとみる」ボタン */
  #product-more {
    margin: 0 auto -42px auto;
	/* 外余白　上0 下-42 左右autoで中央揃え */
  }
  /* ABOUT US */
  #aboutus {
    margin: 80px auto 80px auto;
    /* about as の大枠 */
  }
  
  /* 3つの組織文化と画像を入れる枠 */
  #aboutus > div {
    display: flex;
    /* divを親コンテナに設定 */
  }
  /* 画像 */
  .culture-img {
    width: 100%;
    /* 幅　親要素divの100％ */
    align-self: flex-start;
    /* フレックスアイテムを起点に配置 */
  }
  
  .culture-img2 {
    margin-top: 50px;
    /* 外余白　上50px */
    width: 100%;
    /* 親要素section の幅100% */
  }
  /* 3つの組織文化の表 */
  .culture-table {
    margin-right: 50px;
  }
  /* 3つの組織文化の表 */
  .culture-table {
    margin-right: 50px;
    /* 外余白　右50px */
  }
  /* 番号 */
  .culture-num {
    font-size: 80px;
    /* 数字の大きさ80px */
    color: #2710d5;
    /* 色 */
    margin: 0 20px 0 0;
    /* 外余白　上0 右20px 下0 左0*/
  }
  
  /* 組織文化英語 */
  .culture-en {
    color: #2710d5;
    /* 色（FLEXIBLE,TEAL,SELF REALIZATION) */
    font-weight: bold;
    /* フォントの太さ */
    font-size: 24px;
    /* フォントの大きさ */
    display: block;
    /* 表示方法　縦並び */
  }
  
  /* 組織文化日本語 */
  .culture-jp {
    font-size: 28px;
    /* フォントの大きさ(フレキシブル、ティール、自己実現）*/
    font-weight: bold;
    /* フォントの太さ */
  }
  
  /* 説明文 */
  .culture-description {
    margin: 0;
    /* margin 0 */
  }
  /* ビジョン */
  #vision {
    margin: 80px auto 80px auto;
    /* margin 上下80px　左右autoで中央揃え  */
  }
  
  /* セクション内の外枠 */
  #vision > div {
    width: 100%;
    /* 幅　親のsectionの100% */
    display: flex;
    /* 親コンテナに設定 */
    justify-content: space-between;
     /* 各アイテムを均等に配置し
      最初のアイテムは左に寄せ、
      最後のアイテムは右に寄せる */

    flex-wrap: wrap;
  }
  /* 7つの行動指針の枠 */
  .vision-box {
    width: 300px;
    /* 幅300px */
    height: 300px;
    /* 高さ300px */
    margin-bottom: 30px;
    /* 外余白　下30px */
    position: relative;
    /* vision-box内の位置決めの親に設定 */
  }
  .vision-box > img {
    /* 画像設定 */
    width: 100%;
    /* 幅vision-boxの100% */
    height: auto;
    /* 高さauto */
    position: absolute;
    top: 0;
    left: 0;
    /* 位置決めvision-boxの 上0 左0 */
    z-index: 30;
    /* 重ね下から30番目 */
  }
  
  .vision-box > span {
    position: absolute;
    top: 0;
    left: 0;
    /* 位置決めvision-boxの 上0 左0 */
    z-index: 31;
     /* 重ね下から31番目 */
    margin-right: 20px;
    /* 外余白　右20px */
  }
  
  .vision-box > span > h4 {
    color: #2710d5;
    font-size: 19px;
    margin: 80px 0 0 0;
  }
  
  .vision-box > span > h4::first-letter {
    font-size: 40px;
    /* 見出しh4の最初の文字フォントサイズ40px */
  }
  
  .vision-box > span > h5 {
    font-size: 20px;
    /* 見出しh5のフォントサイズ20px */
    margin: 0 0 0 0;
    /* 外余白 0 */
  }
  
  .vision-box > span > p {
    margin: 10px 0 0 0;
    /* タグp 外余白　左10px 残り0 */
  }
/* 会社概要 */
#company {
  margin: 80px auto 80px auto;
  /* comanyのsection 大枠
  　 margin 上下80px 左右autoで中央揃え */
}

#company-table {
  width: 100%;
  /* 幅　親要素の100％ */
}

.tableheader {
  /* 見出し */
  text-align: left;
  /* 文字左揃え */
  padding: 20px;
  /* 内余白　各20px */
  border-bottom-color: #2710d5;
  /* 下枠線　色:#2710d5 */
  border-bottom-width: 1px;
  /*  下枠線　太さ1px */
  border-bottom-style: solid;
  /* 下枠線　線の種類　実線 */
  width: 100px;
  /* 幅　親用の100% */
}

.tableheader-first {
  /* 見出し */
  text-align: left;
  /* 文字左揃え */
  padding: 20px;
  /* 内余白　各20px */
  border-bottom-color: #2710d5;
  /* 下枠線　色#2710d5 */
  border-bottom-width: 1px;
  /* 下枠線　太さ 1px */
  border-bottom-style: solid;
  /* 下枠線　線の種類　実線 */
  border-top-color: #2710d5;
  /* 上枠線　色#2710d5 */
  border-top-width: 1px;
  /* 上枠線　太さ 1px */
  border-top-style: solid;
  /* 上枠線　線の種類　実線 */
  width: 100px;
  /* 幅　親枠の100% */
}

.cell {
  /* セル */
  padding: 30px;
  /* 内余白　各30px */
  border-bottom-color: #ececec;
  /* 下枠線　色#ececec */
  border-bottom-width: 1px;
  /* 下枠線　太さ　1px */
  border-bottom-style: solid;
  /* 下枠線　種類　実線 */
}

.cell-first {
  /* セル */
  padding: 30px;
  /* 内余白　各30px */
  border-bottom-color: #ececec;
  /* 下枠線　色#ececec */
  border-bottom-width: 1px;
  /* 下枠線　太さ 1px */
  border-bottom-style: solid;
  /* 下枠線　種類　実線 */
  border-top-color: #ececec;
  /* 上枠線　色#ececec */
  border-top-width: 1px;
  /* 上枠線　太さ1px */
  border-top-style: solid;
  /* 上枠線　種類　実線 */
}

  #company > iframe {
    /* 地図 */
    width: 100%;
    /* 幅　親要素の100% */
    height: 368px;
    /* 高さ　368px */
    margin-top: 40px;
    /* 外余白　上40px */
  }
  /* お問い合わせ */
  #contact {
    margin: 80px auto 80px auto;
    /* socialのmargin 上80px 右auto 下80px 左auto */
  }
  
  /* 外枠 */
  #contact > form > div {
    /* form直下のdivに対して */
    display: flex;
    /* 親コンテナに設定 */
    flex-direction: row;
    /* コンテ内のコンテンツ並び方　左から右 */
    flex-wrap: wrap;
    /* コンテ内のコンテンツ折れて表示 */
    padding-bottom: 30px;
    /* padding 下30px */
  }
  /* 左列の見出し */
  .contact-heading {
    /* 幅240px */
    width: 240px;
    /* 文字中央揃え */
    align-self: center;
  }
  /* 見出しのラベル */
  .contact-label {
    font-weight: bold;
    /* フォントの太さ　 */
  }
  /* 必須 */
  .contact-span {
    color: #ce2222;
    /* 必須の色　#ce2222 */
    margin: 0 0 0 20px;
    /* margin 上下右0px 左20px  */
    font-weight: bold;
  }
  /* テキストボックス */
  .contact-textbox {
    /* 入力のtextbox */
    border-top: 0;
    /* 枠線　上0 */
    border-left: 0;
    /* 枠線　左0 */
    border-right: 0;
    /* 枠線　右0 */
    border-bottom-width: 1px;
    /* 枠線　下　1px */
    border-bottom-color: #707070;
    /* 枠線　下　太さ  */
    border-bottom-style: solid;
    /* 背景色　#fafafa */
    background-color: #fafafa;
    /* 幅400px */
    width: 400px;
    /* 高さ　56px */
    height: 56px;
  }
  /* お問い合わせ内容のテキストエリア */
  .contact-textarea {
    border-top: 0;
    /* 枠線　上0 */
    border-left: 0;
    /* 枠線　左0 */
    border-right: 0;
    /* 枠線　右0 */
    border-bottom-width: 1px;
    /* 枠線　下線太さ　1px */
    border-bottom-color: #707070;
    /* 枠線　下　色　#707070 */
    border-bottom-style: solid;
    /* 枠線　下種類　実線 */
    background-color: #fafafa;
    /* 背景色　#fafafa */
    width: 400px;
    /* 幅　400px */
    height: 200px;
    /* 高さ200px */
  }
  /* 個人情報の取り扱い */
  details {
    /* detailsタグ */
    width: 700px;
    /* 幅700px */
  }
  details > div {
    /* details直下のdiv */
    background-color: #fafafa;
    /* 背景色　色#fafafa */
    padding: 20px;
    /* pdding 20px */
  } 
  details > div > span {
    /* details 直下のdivの直下のspan */
    font-weight: bold;
    /* フォントの太さ */
  }
  /* フッター */
  footer {
    background-color: #0d0d0d;
    /* 背景色　#0d0d0d */
    text-align: center;
    /* 文字の位置　中央 */
    padding: 80px 80px 30px 80px;
    /* 内余白　上右下80px 30px */
  }
  
  #footer-logo {
    margin-bottom: 30px;
    /* 一番上のdiv(ロゴの) 外余白　下30px */
  }
  #footer-link {
    margin-bottom: 50px;
    /* aタグの外余白　下50px */
  }
  #footer-link > a {
    /* 直下のaタグ */
    text-decoration: none;
    /* テキストの装飾　無し */
    margin: 10px;
    /* 外余白　10px */
  }
  #footer-link > a:link {
    /* 直下のaタグ未訪問時 */
    color: #ffffff;
    /* 色　白#ffffff */
  }
  #footer-link > a:visited {
    /* 直下のaタグ訪問後 */
    color: #ffffff;
    /* 色　白#ffffff */
 
  }
  #footer-link > a:hover {
    /* 直下のaタグカーソルが上にある時 */
    color: #ffffff;
    /* 色　白#ffffff */
    text-decoration: underline;
    /* テキストの装飾　下線 */
  }
  #footer-link > a:active {
    /* 直下のa押している時 */
    color: #ffffff;
    /* 色　白#ffffff */
  }
  #sns-footer {
    /* sns aタグのあるdiv */
    text-align: left;
    /* 左寄せ */
    width: 100%;
    /* 親要素の幅100％ */
  }
 
  #sns-footer > a {
    /* snsのaタグ */
    margin-right: 30px;
      /*外余白　右30px  */
  }
  
  #copyright {
    /* コピーライト */
    color: #ffffff;
    /* 色　白#ffffff */
    float: right;
    /* 右寄せ */
  }
}
  /*====================
  スマートフォン用のスタイル
  =====================*/
  @media screen and (max-width: 767px) {
    body {
      min-width: 375px;
      margin: 0;
    }
  
    /* PC用ナビゲーション非表示 */
    #nav-pc {
      display: none;
    }
  
    /* ハンバーガーメニュー */
    #menu-sp {
      float: right;
      padding: 0;
    }
  }
